//Include encoded information for all used weights and font styles

/* @font-face {
	font-family: '';
		src: url(data:application/x-font-woff;base64, ... );
	font-weight: 300;
	font-style: normal;
} */