  <!-- SVG element -->
  <div class="svg col-md-8 col-lg-7" fixed-scroll>

    <div ng-if="!canIDownload()" class="alert alert-danger" role="alert">Your browser is not supported. Try using <a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a> or <a href="https://www.mozilla.org/en-US/">Firefox</a>.</div>

    <div class="svg-wrapper" ng-if="((config.themes.length > 0 && theme) || !config.themes) && ((config.sizes.length > 0 && size) || !config.sizes)">
      <p class="footnote"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></i> Click and drag to move the image.</p>
      <snap-svg svg-config="config.svg" svg-theme="config.theme" filters="filters" width="{{size.width}}"></snap-svg>
      <div>
        <!-- warnings -->
        <div class="alert alert-warning" role="alert" ng-show="warning.tooBig === true"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Image is larger than the original file. Quality will be lost. Try sizing the image down or using the custom size.</div>
        <div class="alert alert-warning" role="alert" ng-show="warning.tooSmall === true"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Image is not filling the preset space. Try sizing the image up, selecting <button class="btn btn-default" ng-show="image" ng-click="fillImage()"><i class="glyphicon glyphicon-resize-full"></i> Fill image</button>or using the <strong>custom</strong> size.</div>
        <button class="btn btn-primary" ng-click="downloadSvg()" ng-disabled="!image.width"><i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i> Download Image</button>
      </div>
    </div>

    <div class="config-wrapper">
      <div class="form-inline form-group">
        <label>File name</label>
        <div class="input-group">
          <input type="text" ng-model="theme.name" ng-value="theme.name" class="form-control" aria-describedby="addon1">
          <span class="input-group-addon" id="addon1">.png</span>
        </div>
      </div>
      <div class="panel" ng-show="config.output.editable.scale">
        <h3 ng-click="scale = !scale"><i class="glyphicon glyphicon-menu-down" ng-hide="scale"></i><i class="glyphicon glyphicon-menu-right" ng-hide="!scale"></i> Scale ({{config.output.scale}}x) <small>Choose the scaled output size</small></h3>
        <input id="scale" type="range" max="3" min="1" step="1" ng-model="config.output.scale" ng-hide="scale" />
      </div>
    </div>
  </div>

 <!-- Elements -->
  <aside class="elements col-md-4 col-lg-5">
    <div class="panel">
      <h3>Size</h3>
      <div class="btn-group">
        <label ng-repeat="size in config.sizes" ng-class="{active: size.name == $parent.size.name}" class="btn btn-primary">
          <input type="radio" ng-model="$parent.size" ng-value="size" name="size-options"> {{size.name}}
        </label>
      </div>
      <div ng-show="size.name==='Custom'" class="form-inline">
        <div class="form-group">
          <label>Width:</label>
          <input type="number" ng-model="size.width" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Height:</label>
          <input type="number" ng-model="size.height" class="form-control" ng-disabled="size.locked"/>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="size.locked"> Lock aspect ratio
          </label>
        </div>
      </div>
    </div>
    <div ng-if="(config.themes.length > 0 && theme) || !config.themes">

      <div ng-repeat="(key, element) in config.svg.elements" ng-if="element.editable && element.enabled()!==false" class="panel">
          
        <h3 ng-click="show[key] = !show[key]"><i class="glyphicon glyphicon-menu-down" ng-hide="show[key]"></i><i class="glyphicon glyphicon-menu-right" ng-hide="!show[key]" ng-init="show[key]=element.hide"></i> {{element.name}}</h3>
        <div ng-if="element.type !== 'group'" ng-repeat="(type, field) in element.editable" ng-switch="type" ng-hide="show[key]" ng-init="show[key]=element.hide">

          <!-- Text -->
          <div ng-switch-when="text">
            <textarea ng-model="element.value" class="form-control" ng-init="element.value=element.value()" ng-change="element.change"></textarea>
            <p class="footnote" ng-show="$parent.metadata"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Data in file IPTC credit field: {{$parent.metadata}}</p>
            <p class="footnote" ng-if="element.helpText()"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{element.helpText()}}</p>
          </div>

          <!-- Fill -->
          <div ng-switch-when="fill">
            <label>Color: </label>
            <div class="btn-group">
              <label ng-repeat="(name, value) in field" ng-class="{active: value == element.fill}" class="btn btn-primary" ng-init="element.fill=element.defaultFill()">
                <input type="radio" ng-model="element.fill" ng-value="value" name="fill-options"> {{name}}
              </label>
            </div>
          </div>

          <!-- Font Size -->
          <div ng-switch-when="fontSize">
            <label>Font Size</label>
            <select ng-model="element.fontSize" ng-options="name for (name, value) in field" class="form-control">
              <option value="">-- Select a Font Size --</option>
            </select>
          </div>

          <!-- Position -->
          <div ng-switch-when="x">
            <label>Position: </label>
            <div class="btn-group">
              <label ng-repeat="(name, value) in field" ng-class="{active: value == element.x}" class="btn btn-primary" ng-init="element.x=element.defaultX()">
                <input type="radio" ng-model="element.x" ng-value="value" name="x-options"> {{name}}
              </label>
            </div>
          </div>

           <!-- Suffix -->
          <div ng-switch-when="suffix" ng-if="theme.suffix.enabled">
            <label>Suffix: </label>
            <div class="btn-group">
              <label ng-repeat="(name, value) in field" ng-class="{active: value == element.suffix}" class="btn btn-primary" ng-init="element.suffix=false">
                <input type="radio" ng-model="element.suffix" ng-value="value" name="suffix-options"> {{name}}
              </label>
            </div>
          </div>

          <!-- Visible -->
          <div ng-switch-when="display">
            <label>Visible: </label>
            <div class="btn-group">
              <label ng-repeat="(name, value) in field" ng-class="{active: value == element.display}" class="btn btn-primary" ng-init="element.display=element.defaultDisplay()">
                <input type="radio" ng-model="element.display" ng-value="value" name="logo-options"> {{name}}
              </label>
            </div>
          </div>

          <!-- Source -->
          <image-editor ng-switch-when="src" key="key" on-drop="onDrop"></image-editor>

          <!-- Width / Size -->
          <div ng-switch-when="width">
            <label>Size</label>
            <input type="range" min="100" max="1600" ng-model="element.width" />
            <div ng-show="image">
              <button class="btn btn-default" ng-click="fillImage()"><i class="glyphicon glyphicon-resize-full"></i> Fill image</button>
              <button class="btn btn-default" ng-click="fitImage()"><i class="glyphicon glyphicon-resize-small"></i> Fit image</button>
              <label>
                <input type="checkbox" ng-model="element.dragLockX"> Lock horizontal position
              </label>
            </div>
          </div>

        </div>

      </div>
    </div>
  </aside>
